.home-menu-item {
    color: rgba(8, 1, 1, 0.986);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid #a8b1b6ea;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    
    }
    #home-image{
        width: auto;
        display: block;
        margin: auto;
        padding: 55px;
            
        
    }
    .body-menu{
        background-image: url("images/rf.png");
        background-position: center;
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-size: cover ;
    
    }
    
    